@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,300&family=Roboto:wght@300;400&display=swap');

@font-face {
    font-family: 'mimeografo';
    src: url('marons/Marons-Regular.otf') format('opentype');
    font-weight: normal; }

/* USEI CORES E FONTESE DESTAQUE RETRÔ, POIS A TEMÁTICA É RETRO, O QUE NÃO DEIXA DE SER MODERNO */
:root {
    --cor0: #3045BF;
    --cor1: #5979D9;
    --cor2: #025373;
    --cor4: #AEE6F2;
    --cor5: #D1A21E; 
    --cor6: #D9CCA7;
    --cor7: #F29F05; 
    --cor8: #F28705; 
    --cor9: #F27405; 
    --cor10: #0D0D0D; 
    

    --fonte-padrão: arial, verdana, sans-serif;
    --fonte-destaque:'Roboto';
    --fonte-mimeografo: 'mimeografo'  

} 
* {
    margin: 0px;
    padding: 0px
}
main p {
    margin: 15px 0px;
    text-align: justify;
}

body {
    background-color: white;
    font-family: var(--fonte-padrão);
}
 /*a.externo::after {
    content: '\1F517'; 
  Posso colocar class esterno para o simbolo do link aparecer. E POSSO ESCOLHER OUTRO CÓDIGO SE PREFERIR*/

header {
    background-size: auto;
    background-color: var(--cor7);
    min-height: 150px;
    text-align: center;
    padding: 5px;
    padding: 5px;

}
header > h1 {
    color: var(--cor10);
    font-family: var(--fonte-mimeografo);
    font-size: 3em;
    font-weight: normal;
    margin: 20px;
    margin-bottom: auto;
    text-shadow: 2px 2px 0px hsla(0, 0%, 3%, 0.233) ;
}
header > p{
    font-family: var(--fonte-destaque);
    font-size: 20px;
    color: var(--cor10);
    max-width: 600px;
    margin: auto;
    padding: 5px;
    margin: auto;
    padding-bottom: 10px;
    text-shadow: 2px 2px 0px hsla(0, 0%, 3%, 0.089);

}
header >
    #menu{
    float:left;
    margin-top:150px;
    width: 400px;
    }
    #menu a:hover {
    color:#a5acd0 ;
    }
    #menu ul {
    list-style: none;
    background: linear-gradient(to bottom, #5979D9, #0D0D0D );
    padding: 0px;
    margin: 0px;
    }
    #menu li {
    height: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width:150px;
    border-right: 1px solid var(--cor7);
   
    }
    #menu ul li a{
    text-decoration: none;
    font-family: var(--fonte-destaque);
    font-size:15px;
    color: var(--cor7);
    font-weight: bold;
    }

    main {
        background-color: var(--cor6);
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: -20px;
        padding: 20px;
        background-color: #d9cca749;
        box-shadow: 0px 5px 50px 5px rgba(27, 27, 27, 0.062) ;
        border-bottom-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    main > h1 {
         font-family: var(--fonte-destaque);
         color: var(--cor9);
         font-weight: bold;
         text-shadow: 2px 2px 0px hsla(0, 0%, 3%, 0.089);
         text-align: center;
    }
    main img {
        width: 100%;
    }
    main img{
        max-width: 600px;
        min-width: 100;
        display: block;
        margin: auto;
        box-shadow: -7px 8px 39px 8px rgba(0, 0, 0, 0.253);
    }
    main > picture {
        max-width: 600px;
        min-width: 200;
        display: block;
        margin: auto;
        padding-bottom: 30px;
    }
        section {
          max-width: 10px;
          min-width: 50px;
          padding:5px ;
          margin: 0px 10px 10px 0px;}
       
     article > h1 {
        font-family: var(--fonte-destaque);
        color: var(--cor9);
        font-weight: bold;
        text-shadow: 2px 2px 0px hsla(0, 0%, 3%, 0.089);
        text-align: center;
   }
    article > p{
        font-family: var(--fonte-padrão);
        text-align: justify;
        font-size: 20px;
        line-height: 1.5;
    }
    article aside {
      text-align: justify;
      font-family: var(--fonte-padrão);
      font-size: 20px;
      line-height: 1.5;
    }
    main > p {
        font-family: var(--fonte-padrão);
        text-align: justify;
        font-size: 20px;
        line-height: 1.5;
    }
    main strong {
      color: var(--cor0);
      font-weight: bold;
    }
    main em { 
      background-color: #5979d95f;
      color: var(--cor0);
    }
   main abbr {
      color: #3045BF;
    }
    main a {
      background-color: #5979d95f;
      font-weight: lighter;
      color: var(--cor0);
    }

    div.video{
    
      margin: 0px -20px 30px -20px;
      padding: 20px;
      padding-bottom:  56.5%;
      position: relative;
      
  }
  
  div.video > iframe {
      position: absolute;
      top: 8%;
      left:8%;
      width: 75%;
      height: 90%;
      right: 8%;
     margin: auto;
     
  }
  aside {
        background-color: #d9cca7c0;
        padding: 5px;
        padding: 5px;
        border-radius: 10px;
        border-top: 10px;
        box-shadow: 8px 8px 27px 8px rgba(0, 0, 0, 0.253);
        margin: 0px 20px 20px 20px;
        
      

  }
    #area
{
  position:relative;
  left:32%;
  top:40%;
  width:320px;
  height:270px;
}
#area #formulario
{
  position:absolute;
  display: flex;
}
fieldset
{
  width: 359px;
  height:250px;
  background-color: var(--cor7);
  padding-top: 10px;
  
 
}
 legend {
 
   font-weight: bold;
   font-style: var(--fonte-padrão);
 }
 #formulario label 
 {
   position: absolute;
   left: 20px;
   margin-right: 5px;
 }
 #formulario input.campo_nome
{ background-color: var(--cor6);
  position:absolute;
  left:95px;
  width:250px;
}
#formulario input.campo_email
{ background-color: var(--cor6);
  position:absolute;
  left:95px;
  margin: top 2px;
  width:250px;
}
#formulario textarea.msg {
  position: absolute;
  background-color: var(--cor6);
}
#formulario input.btn_submit {
  border-style: dashed;
  position: absolute;
  bottom: 10.5px;
  right: 10px;
  background-color: var(--cor0);
  font-style: var(--cor6);
}
#formulario textarea {
  left: 20px;
  width: 325px;
}
footer {
  background-color: #f29f0584;;
  padding: 20px;
 margin-top: 20px;
 padding-top: 36px;
}
